@model IEnumerable<Hotel.Models.DatDichVuModel>

@{
    ViewData["Title"] = "Index";
}
<div class="row mt-4 px-4">
    <div class="titleCreate col d-flex">
        <p class="fs-4 fw-bolder">Quản Lý Danh Sách Đặt Dịch Vụ</p>
        @Html.ActionLink("Đặt Dịch Vụ","Index","DatPhong", null, new {@class = "btn btn-dark btn-sm ms-auto text-center", @style="height:2.5em ; width:8rem"})
    </div>
</div>
<div class="row px-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Mã Đặt Dịch Vụ</th>
                <th scope="col">Số Lượng</th>
                <th scope="col">Ngày Đặt Dịch Vụ</th>
                <th scope="col">Công Cụ</th>
            </tr>
        </thead>
        <tbody>
            @{
                int soTT = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@(soTT++)</th>
                    <td>@Html.DisplayFor(modelItem => item.MaDv)</td>
                    <td>@item.MaDdv</td>
                    <td>@item.SoLuong</td>
                    <td>@item.NgayDatDichVu</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a>
                        <a asp-action="Detail" asp-route-id="@item.Id">Xem</a>
                        <a href="" data-id="@item.Id" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" class="delete">Xoá</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>